-----BEGIN CERTIFICATE-----
MIIC4TCCAcmgAwIBAgIUfb9oazXOdCYlRhiogpXnzurutigwDQYJKoZIhvcNAQEL
BQAwADAeFw0yNDAzMDQxMTE3MzdaFw0yNTAzMDQxMTE3MzdaMAAwggEiMA0GCSqG
SIb3DQEBAQUAA4IBDwAwggEKAoIBAQDO5tmOU6RIVVd+k8xk8eG6j0hL+z5hkybQ
aBw/6DNeDnWDRVxHua27JTkI3gfy1oiu3U0dBXPJF3Cx/Qq28/qSFh5jOB7NUS5q
E8cEhAoVincaSnzWH0r4V7DgSth8uy7Qy+mYjVB5eigv4M8AzytMorV7ReONtKZX
ikCAJwaShPsEPYuMoeNkKLMSlahl/atApDsquCWE01NO9KIKY1mNhjPzb4DdxbkW
zhKZ7MfRpP7IL7oIAEwQkmYl+5YlvKl9n4NI2A+jeXX4hAgOh8Y1djDC+rimGZdW
qSMvT9LXwDP3cZtxzHKPzm4QVyN2I2PTFD8Bm5fxUJ0UZK4lOak/AgMBAAGjUzBR
MB0GA1UdDgQWBBTWVvTbPJbGZmGSr70MFArkP8zHszAfBgNVHSMEGDAWgBTWVvTb
PJbGZmGSr70MFArkP8zHszAPBgNVHRMBAf8EBTADAQH/MA0GCSqGSIb3DQEBCwUA
A4IBAQCuLd27fdIKz8BTXPsE+gLloftxterqrQWaLdcBsNemXDDUgFGslB3ZDRdg
bnFB6MU5fFR7H1/o93JXcAOR36JaQ4oKk57a3x0BBNaFvQEUuZSQzNXsikoW7pyR
qSOeJa/jftE62bpkiut+zOGRyhTzj0DsbcY2cxX59Ou2guZ0t1rUWfLyzIeiElZy
R3f3Lu0Y1Id9BmXo+AQOUk7oPkJYg2KB0UmQUG1gGV7qcT9GvanFSJ9ArCQ9xGM/
I6miEprN+qAvdk12GMnofIlw7v2SwIb8s+UQ26YSdFKUe2XZz7J5sWroFGH/67co
xsWRSHa37ykRaU4o26negGo1eEni
-----END CERTIFICATE-----
-----BEGIN PRIVATE KEY-----
MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQDO5tmOU6RIVVd+
k8xk8eG6j0hL+z5hkybQaBw/6DNeDnWDRVxHua27JTkI3gfy1oiu3U0dBXPJF3Cx
/Qq28/qSFh5jOB7NUS5qE8cEhAoVincaSnzWH0r4V7DgSth8uy7Qy+mYjVB5eigv
4M8AzytMorV7ReONtKZXikCAJwaShPsEPYuMoeNkKLMSlahl/atApDsquCWE01NO
9KIKY1mNhjPzb4DdxbkWzhKZ7MfRpP7IL7oIAEwQkmYl+5YlvKl9n4NI2A+jeXX4
hAgOh8Y1djDC+rimGZdWqSMvT9LXwDP3cZtxzHKPzm4QVyN2I2PTFD8Bm5fxUJ0U
ZK4lOak/AgMBAAECggEAMxVyP57NIALaMGljfMTv27UGv6PPuh2v5qLd3rWBAUcG
opucdiUVDPDazSKsybtIUgxXvsOa29qKu5djbtp8Ulddt1ei20Sg9hXd/HJxXvIq
B/a+LcvaIcjc5fP00Y8RtwGxsjWp2eRcSb3yvhtocGp37nDKBzHEJDcBR+Laz4/N
ypl8QOgFPCDe6qiRClnSJGsjqtllJravIY5Wij+O6CC4qLDR1vmVqFnToXXcj0ZA
KJ+ylEcqTZH4mqRo5t75kOtewqbyHHzS4CWE+j3SSaxq65YimZATQIpnrFaBTX33
S1eByajReI5OtvxF6I6qc9JgXr80ZU0NDdFYyweO0QKBgQD3oIxMwtHJwWogl9xh
sgm9EP7jT4oCdEJ2FaxUIT+VmiNHedqZZK9rCPgvBHrdVe/VbB36PRWT5P0pbLoz
dO/BboS++J79Dq8wJKG1JSoCY+hJaHbG1vlM/Ii9AwHqzjMPhzcE9zGgIZY2NGTR
btjEmemhs7HnfT1B0Z0761mnVwKBgQDV5cjGASJ6XPTKRZLBuoFEhIVuSmKdhIle
EP6j33Sn569LkY8KwdNTEgEs9Qcfq96vVYWOTguqWMuMSzA2Cgx7+K/qrdMkNv0B
Sp1XnT0aGT55CJPTb//cOl0FmwhpCr/eMCw0VqZafEWtd9DEBYrGrFiigexcW08D
D4tVHAPkWQKBgEJl/VjT4Hbt8uwcbE6R88SLmx0Ohd4UmIGbXCMO60LNGuqehPwe
oF7d/9ZzqBJTacTbgcpIuNF4VF3YNrF3iJZgcR3YAqGuX1FUcTvmZDZR3cZZSYgV
urFnAa9U8B2q/swKILmnItpiRynvsJzr0RoefyQJ0AlXbqaIc1XOzLJvAoGAQ778
oSH43pKUgYAZpDxC9wWWEUGEDGnO7DkrvZFnrEpoLeITUQ/ks7nPH4MX14MjC5tl
qpWzgiePiIbD5Um3fIheh1C4wA6egYs1XGuTz7FRJRp/X4donULq9XyN5F8gN+pA
Be+vzpbvpqp9N6idtKEfjZDi4LmWw9xnf/RYkzkCgYBj1z9Cj1+A0ws+47HCwN5N
Y7kJshfRwuebLxs68+hCRYVGYoouuuUvjDzF8ulylEt5/lIxVxTKXsHbxjizAo3v
x/MD/N3S/0emWfg6bnWA+RFe5wf/GhpGZ98YM45Rzme7ZQLg5WJEnIQEVNjWhK0H
61qhfPd9TcNjtrJIYoVzDA==
-----END PRIVATE KEY-----